{% if site.logo contains "://" %}
{% capture logo_path %}{{ site.logo }}{% endcapture %}
{% else %}
{% capture logo_path %}{{ site.logo }}{% endcapture %}
{% endif %}
<style type="text/css">
  .tmp-disable {
    color: #CC1111
  }
</style>

<div class="masthead">
  <div class="masthead__inner-wrap-outdated">
    <!-- <nav id="site-nav" class="greedy-nav"> -->
    <p>第二回Scisci研究会(ScisciConX)は終了いたしました。<br>
    直近の研究会については、<a href="https://scisci.jp/" target="_blank" rel="noopener">研究会のホームページ</a> をご覧ください。</p>
    <!-- </nav> -->
  </div>
</div>